/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;700&display=swap');

/* Global font for whole app */
body {
  font-family: "Noto Sans Arabic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}